In [37]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [53]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content)
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [54]:
np.isnan(df.iloc[0]['Neighborhood'])

True

In [55]:
rows = df[(df['Borough'] == 'Not assigned')].index
df.drop(rows , inplace=True)

In [59]:
pd.isnull(df.iloc[0]['Neighborhood'])

False

In [50]:
df.groupby('Postal code')['Neighborhood'].agg(','.join).reset_index()

    Postal code                                       Neighborhood
0           M1B                                    Malvern / Rouge
1           M1C           Rouge Hill / Port Union / Highland Creek
2           M1E                Guildwood / Morningside / West Hill
3           M1G                                             Woburn
4           M1H                                          Cedarbrae
..          ...                                                ...
98          M9N                                             Weston
99          M9P                                          Westmount
100         M9R  Kingsview Village / St. Phillips / Martin Grov...
101         M9V  South Steeles / Silverstone / Humbergate / Jam...
102         M9W                                          Northwest

[103 rows x 2 columns]

In [60]:
for index, row in df.iterrows():
    if pd.isnull(row['Neighborhood']):
        print("!")
        row['Neighborhood'] = row['Borough']

In [63]:
df.shape

(103, 3)